# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Entornos virtuales
.venv/
venv/
env/

# Archivos generados
audio/
*.mp3

# Editores y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
